<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-script"></div>
<div th:replace="common :: common-head"></div>


<body>
	<div th:replace="common :: common-nav"></div>

	<div class="container">
		<div class="row">

			<!-- 各種コンテンツ -->
			<div class="col-sm-6">
				<div class="content-box">
					<h2>住所検索 - 郵便番号</h2>
					<form method="post" th:action="@{/zip}">
						<div class="input-group">
							<input type="number" class="form-control" name="zipcode"
								placeholder="郵便番号 : XXXXXXX"> <span
								class="input-group-btn">
								<button id="zipcode" type="submit"
									class="btn btn-success btnx-lime-non">検索</button>
							</span>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>
</html>